<!DOCTYPE html>
<html lang="en">
<head>
	<title>Blood Donation Portal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter" style="background-image: url('img/back.jpg');">
		<div class="container-login100" style="background-image: url('img/back.jpg');">
			<div class="wrap-login100" style="">
				<form class="login100-form validate-form" style="padding-top: 10%">
					<div class="fadeIn first">
							<h3 class="login100-form-title" style="padding-left: 2%">Blood Donation Portal</h3>
							<img style="padding-left: 23%; padding-top: 6%;"  class="nitt" id="nitt-logo" src="img/nitt_logo.png">
					</div>
					<span class="login100-form-title p-b-34" style="padding-top: 5%">
						Save a Life Now! 
					</span>




					<div class="container-login100-form-btn" style="padding-top: 8%">
						<a class="login100-form-btn" href="/auth/google">Login</a>

						</div>

					<div class="w-full text-center p-t-27 p-b-239" style="padding-top: 15%">
						<div class="d-flex justify-content-center footer_div">
							<span class="txt1">
				  MADE WITH <span style="color: darkred">❤️</span> BY <a href="https://delta.nitt.edu" class="txt2 hov1" target="_blank">
					DELTA FORCE
				  </a>
							</span>
						</div>

					</div>

					<div class="w-full text-center">

					</div>
				</form>

				<div class="login100-more" style="background-image: url('img/blood bg.jpg'); background-size: contain;"></div>
			</div>
						
		</div>
		

	

<div class="loader-wrapper">
  <span class="loader"><span class = "loader-inner"></span></span>
</div>

<script>
	$(window).on("load", function(){
		$(".loader-wrapper").fadeOut("slow");
	});
	</script>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
